body {
    font-size: 1em;
    position: relative;
    font-family: 'DIN Pro', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 320px;
    height: auto;
    background-color: #f2f2f2;
}
img {
    max-width: 100%;
}
a:hover, a:active, a:focus {
    text-decoration: none;
}
a.button {
    display: block;
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color 0.5s ease-out,background 0.5s ease-out;
    -o-transition: color 0.5s ease-out,background 0.5s ease-out;
    transition: color 0.5s ease-out,background 0.5s ease-out;
}
.page {
    width: 1920px;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
}
/**********Header-menu**********/

.header {
    width: 100%;
    height: 120px;
    padding: 30px 40px;
    margin: 0 auto;
    border-bottom: 2px solid #f2f2f2;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.header-wrap {
   display: -moz-flex;
   display: -ms-flex;
   display: -o-flex;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-align-items: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   float: left; 
}
.logo { 
    padding-right: 65px;
}
.logo__img {
    width: 190px;
    max-width: none;
}

ul.menu__links {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
li.menu__link {
    list-style-type: none;
    font-size: 16px;
    padding-right: 20px;
    margin-top: 5px;
}
.menu__link a {
    color: #000;
    font-family: 'Circe';
    /*font-weight: bold;*/
    line-height: 1.2;
        /*padding-bottom: 5px;*/
    border-bottom: 1px solid #bbb;
    -webkit-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
.menu__link a:hover,
.menu__link a:active,
.menu__link a:focus {
    border-bottom: 1px solid transparent;
}
.profile {
    width: 230px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
}
.profile__search, .profile__notice, .profile__rates { 
    display: inline-block; 
    background: url('../img/profile/png.png') no-repeat; 
    overflow: hidden; 
    text-indent: -9999px; 
    text-align: left; 
}
.profile__search { background-position: -0px -0px; width: 44px; height: 44px; }
.profile__notice { background-position: -0px -44px; width: 37px; height: 42px; }
.profile__rates { background-position: -0px -86px; width: 33px; height: 44px; }
.profile__avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #f2f2f2;
    overflow: hidden;
    position: relative;
}
img.profile__avatar-img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.profile__notice--sign {
    position: absolute;
    color: #fff;
    font-size: 12px;
    line-height: 1.8;
    width: 30px;
    height: 20px;
    background-color: #fd5520;
    border-radius: 4px;
    top: -15px;
    right: -9px;
    text-align: center;
}
.profile__rates--sign {
    position: absolute;
    color: #000;
    font-size: 12px;
    line-height: 1.8;
    top: -18px;
    right: 53px;
    display: none;
}


/*Adaptive menu*/

.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    left: 0;
    bottom: -11px;
    cursor: pointer;
    margin-right: 20px;
    z-index: 100;
}
.menu__icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: rgb(155, 153, 153);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.menu__icon:hover span {
    background: rgba(65, 65, 65, 0.8);
}
.menu__icon span:nth-child(1) {
    top: 0px;
}
.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}
.menu__icon span:nth-child(4) {
    top: 26px;
}
.menu__icon.on span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.menu__icon.on span:nth-child(2) {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.menu__icon.on span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.menu__icon.on span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
/*.menu.on .menu__links {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 34px;
    margin-top: 27px;
    margin-bottom: 21px;
    position: relative;
    z-index: 90;
    margin-top: 0;
}*/
/*.menu.on {
    position: relative;
    top: 20px;
    background-color: transparent;
    opacity: 1;
}
.menu.on li.menu__links-item {
    padding-right: 0;
}*/

/**************Main**************/
.main {
    width: 1920px;
    max-width: 100%;
    height: auto;
    /* margin-left: 115px; */
    padding-right: 140px;
    padding-left: 140px;
    margin: 0 auto;
}

/********* Breadcrumbs *********/


ul.breadcrumb {
     margin: 0;
     padding: 0;
     padding-top: 60px;
     list-style: none;
     
}
.breadcrumb li{
    float: left;
    padding-right: 15px;
    margin-bottom: 45px;
    font-size: 14px;
     -webkit-text-decoration: underline #bbb;
             text-decoration: underline #bbb;
     color: #bbb;
}
.breadcrumb li:last-child {
    padding-right: 0;
}
.breadcrumb li a,
.breadcrumb .active {
     color: #bbb;
     position: relative;
    /*padding-bottom: 3px;
    border-bottom: 1px solid #bbb;*/
    
    /*text-underline-position: under;*/
}
.breadcrumb li a:after {
    content: "/";
    position: absolute;
    top: 0;
    left: 104%;
}
.breadcrumb li a:hover {
    color: #000;
}

/**************Faculty-section**************/

.faculty__wrap {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.faculty__descr,
.tag,
.classifiers,
.competencies {
    width: 810px;
    padding-right: 20px;
}
.faculty__title {
    font-size: 52px;
    font-weight: normal;
    color: #000;
    -ms-text-align-last: auto;
    text-align-last: auto;
    line-height: 1.2;
}
.faculty__text {
    font-size: 24px;
    color: #000;
    padding-top: 45px;
    line-height: 1.3;
}

.faculty__slider {
    width: 612px!important;
    height: 308px!important;
    /*margin-right: 85px;*/
    margin-top: 20px;
}

.tag {
    padding-top: 35px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.tag__item {
    color: #666;
    background-color: #ececec;
    border-radius: 3px;
    padding: 10px;
    margin-right: 7px;
    font-size: 12px;
    margin-top: 5px;
}
.tag__item:hover {
    color: #fd5520;
}
.classifiers {
    padding-top: 30px;
}
.competencies {
    padding-top: 25px;
}
.classifiers__title,
.competencies__title {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}
.competencies__items,
.classifiers__items {
    padding-top: 13px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
.classifiers__item,
.competencies__item {
    font-size: 12px;
    line-height: 1.4;
    color: #666;
    padding-top: 7px;
    /*border-bottom: 1px solid #bbb;*/
    margin-right: 20px;
    text-decoration: underline;
    -webkit-text-decoration-color: #bbb;
            text-decoration-color: #bbb;
    /*text-underline-position: under;*/
}

/*.classifiers__item:hover,
.competencies__item:hover {
    /*border-bottom: 1px solid transparent;*/

.edit {
    padding-top: 30px;
}
.edit__text {
    position: relative;
    font-size: 14px;
    color: #fd5520;
    -webkit-text-decoration: underline dotted #fd5520;
            text-decoration: underline dotted #fd5520;
  /*  text-underline-position: under;*/
margin-left: 30px;
    /*border-bottom: 1px dotted #fd5520;*/
}
.edit__text:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: url(../img/edit-icon.png);
    left: -29px;
    top: -6px;
    z-index: 1;
}
.edit:hover .edit__text:before {
    background: url(../img/edit-icon-red.png);
}
.edit:hover .edit__text {
    text-decoration: none;
}
.faculty__slider .flex-control-nav {
    bottom: 24px;
    position: relative;
}
.faculty__slider .flex-direction-nav a.flex-prev:before {
    content: '\003C';
    color: #fff;
    font-size: 40px;
    width: 45px;
    height: 45px;
    padding-left: 8px;
    /*padding-top: 1px;*/
    border-radius: 50%;
    border: 1px solid #fff;
}
.faculty__slider .flex-direction-nav a.flex-next:before {
    content: '\003E';
    color: #fff;
    font-size: 40px;
    width: 45px;
    height: 45px;
    padding-right: 8px;
    /*padding-top: 1px;*/
    border-radius: 50%;
    border: 1px solid #fff;
}
.faculty__slider .flex-direction-nav a {
    width: 45px;
    height: 45px;
    top: 47%;
}
.faculty__slider .flexslider:hover .flex-direction-nav .flex-prev {
    left: 15px;
}
.faculty__slider .flexslider:hover .flex-direction-nav .flex-next {
    right: 15px;
    text-indent: 2px;
}
.faculty__slider .flex-control-paging li a {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #bbb;
}
.faculty__slider .flex-control-paging li a.flex-active {
    position: relative;
}
.faculty__slider .flex-control-paging li a.flex-active:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border-radius: 50%;
    top: 3px;
    left: 3px;
}
.flex-control-paging li a:hover {
    border: 1px solid #fff;
}
.slider__item {
    position: relative;
}
.slider__text {
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    line-height: 1.3;
    padding-top: 15px;
}

.slider__title a {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
    color: #fff;
    -webkit-text-decoration: underline #bbb;
            text-decoration: underline #bbb;
    /*text-underline-position: under;*/
    
}
.slider__title a:hover {
    text-decoration: none;
}
.slider__descr {
        width: 430px;
    position: absolute;
    top: 44px;
    left: 90px;
}

/***********Members-section***********/

.members {
    padding-top: 95px;
}
.members__title,
.courses__title {
    font-size: 40px;
    font-weight: 400;
    color: #000;
}
.members__links {
    padding-top: 45px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.members__link {
    font-size: 14px;
    color: #fd5520;
    margin-right: 30px;
    text-decoration: underline;
    -webkit-text-decoration-color: #fd5520;
            text-decoration-color: #fd5520;
    /*text-underline-position: under;*/
}

.members__wrap {
    padding-top: 35px;
}
.members__item {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: left;
    margin-right: 85px;
    min-height: 280px;
}
.members__avatar {
    width: 82px;
    height: 82px;
    border: 1px solid #cfcfcf;
    background: #fff;
    color: #cfcfcf;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 15px;
}
.members__avatar-img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.members__avatar p {
    position: absolute;
    top: 43%;
    left: 38%;
    font-size: 12px;
    color: #cfcfcf;
    display: none;
}
.members__avatar.without__avatar p {
    display: block;
}
.members__avatar.without__avatar .members__avatar-img {
    display: none;
}
.members__descr {
    width: 201px;
    height: auto;
        margin-bottom: 60px;
}
a.members__subtitle {
    font-size: 14px;
    color: #000;
    font-weight: 800;
    padding-bottom: 1px;
    line-height: 1.5;
    -webkit-text-decoration: underline #bbb;
            text-decoration: underline #bbb;
    /*text-underline-position: under;*/
}
a.members__subtitle:hover {
    text-decoration: none;
}
.members__text,
.members__rate {
    font-size: 12px;
    line-height: 1.3;
    color: #666666;
    padding-top: 10px;
}
.members__text--without-text {
    display: none;
}
.members__rate {
    padding-bottom: 20px;
}
a.members__span {
    font-size: 12px;
    color: #fd5520;
    /*padding-bottom: 1px;*/
    margin-right: 10px;
    line-height: 1.5;
    -webkit-text-decoration: underline #feb6a8;
            text-decoration: underline #feb6a8;
   /* text-underline-position: under;*/
}
a.members__span.without__span {
    display: none;
}
a.members__span:hover {
    text-decoration: none;
}
.button--transparent {
    background-color: #fff;
    border: 1px solid #feb6a8;
    border-radius: 25px;
    color: #fd5520;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    padding: 8px 20px;
    

}
.button--transparent:hover {
    color: #fff;
    background-color: #fd5520;
    border: 1px solid #fd5520;
}
.button--orange {
    width: 224px;
    margin-top: 20px;
    border: none;
    background-color: #fd5520;
    color: #fff;
    padding: 15px 40px;
    font-size: 18px;
}
.button--orange:hover {
    background-color: #fb835e;
    border: none;
}
.button--transparent-large {
    margin-top: 40px;
    padding: 15px 40px;
    font-size: 18px;
    width: 200px;
}

/**************Courses-section**************/

.courses {
    padding-top: 100px;
}
.courses__title {
    padding-bottom: 55px;
}
.courses__item {
    width: 780px;
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: 0 0 19.5px 0.5px rgba(8,74,135,0.2);
            box-shadow: 0 0 19.5px 0.5px rgba(8,74,135,0.2);
    padding: 30px 60px 40px 30px;
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.courses__item:after {
    content: "";
    position: absolute;
    height: 17px;
    width: 18px;
    background: url(../img/star.png);
    right: 8px;
    top: 9px;
    z-index: 1;
}
.courses__item:before {
    content: "";
    position: absolute;
    border: 30px solid transparent;
    border-right: 30px solid #fd5520;
    border-top: 30px solid #fd5520;
    display: block;
    width: 0;
    height: 0;
    top: 0;
    right: 0px;
}
.courses__subtitle {
    font-size: 12px;
    color: #666666;
}
.courses__name {
    font-size: 16px;
    color: #000;
    font-weight: 800;
    
    line-height: 1.5;
    -webkit-text-decoration: underline #bbb;
            text-decoration: underline #bbb;
    
}
.courses__name--p {
       margin-top: 15px;
    margin-bottom: 15px;
}

.courses__tags {
    font-size: 12px;
    line-height: 1.6;
    color: #666;
    padding-top: 7px;
    
    margin-right: 15px;
    -webkit-text-decoration: underline #bbb;
            text-decoration: underline #bbb;
}

.courses__tags:hover {
     text-decoration: none;
}
.courses__name:hover {
    color: #fd5520;
    -webkit-text-decoration: underline #feb6a8;
            text-decoration: underline #feb6a8;
}
.courses__descr {
    font-size: 14px;
    
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
}
.courses__men {
    padding-left: 30px;
    padding-right: 60px;
}
.courses__like {
    position: relative;
}
.courses__like:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 19px;
    background: url(../img/like.png);
    left: -24px;
    top: -2px;
}
.courses .button--transparent-large {
    margin-top: 60px;
    width: 208px;
}

/**********Request-section**********/

.request {
    padding-top: 100px;
}
.request__title {
    font-size: 40px;
    font-weight: 400;
    color: #000;
    padding-left: 140px;
}
.tabs__container .tabs__wrapper {
    padding-top: 60px;
}
.tabs {
    margin-left: 140px;
}
.tabs span {
    display: inline-block;
    font-size: 14px;
    color: #fd5520;
    border-bottom: 1px dotted #fd5520;
    cursor: pointer;
    float: left;
    padding: 10px 0 1px;
    margin: 0 20px 9px 10px;
    -webkit-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}

.tabs__wrapper .tab.active {
    border-bottom: 2px dotted transparent;
    background-color: #ffe6de;
    border-radius: 4px;
    padding: 10px;
    margin: 0 10px 0 0;
}
.tabs__wrapper .tab:hover {
    border-bottom: 2px dotted transparent;
}


.tab__item {
   width: 1920px;
    max-width: 100%;   /*!!!!!!!!!!*/
    overflow-x: auto;

}
/*.tab__item td {
    font-size: 12px;
    color: #000;
    padding-right: 30px;
}
table {
    border: 4px double #333; 
    border-collapse: separate;  
    border-spacing: 7px 11px!important; 
}

.table__header {
    border-bottom: 1px solid #ccc;  
}
.table__header th {
    text-align: left;
}
*/

table.table {
  background: #fff;
  border-collapse: collapse;
  border-spacing: 0;
 width: 100%;
    /* overflow: auto; */
    table-layout: fixed;
 
}
.table__body tr {
  cursor: pointer;
  -webkit-transition: 0.3s background cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: 0.3s background cubic-bezier(0.86, 0, 0.07, 1);
  transition: 0.3s background cubic-bezier(0.86, 0, 0.07, 1);
}
.table__body tr:hover {
  background: #ffeee8;
}
table.table tr {
  border-bottom: 1px solid #ccc;
}

table.table th {
  font-size: 12px;  
  font-weight: 300;  
  color: #666;
  padding-bottom: 10px;
}
th, td {
  text-align: left;
  padding-top: 40px;
  padding-right: 30px;
  width: 200px;
 /* max-height: 32px;
  height: 32px;
  line-height: 32px;*/
}
table.table .table__row--first {
    border-bottom: 1px solid transparent;
    width: 140px;
}
table.table .table__row--last {
    border-bottom: 1px solid transparent;
    width: 70px;
}
.table__row {
    border-bottom: none!important;
}
.table__row td {
    font-size: 12px;
    line-height: 1.1;
    color: #000;
    padding-top: 20px;
  
}

.pagination {
    padding: 35px 0 120px 140px;
}
.pagination ul li {
    display: inline-block;
   /* margin: 0 1px;
    vertical-align: middle;
    line-height: 12px;*/
    padding-right: 20px;
}
.pagination ul li a {
    color: #fd5520;
    font-size: 18px;
}
.pagination ul li.active a {
    color: #000;
}
.pagination ul li:hover a {
    color: #000;
}
.pagination__dots {
    color: #000;
}

/*************Footer*************/

.footer {
    padding: 70px 255px 10px 100px;
    border-top: 2px solid #f2f2f2;
}
.footer__menu {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer__col {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.footer__links {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -ms-align-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer__links :last-child {
    margin-bottom: 0;
}
.footer__link {
    display: block;
    font-size: 12px;
    color: #666666;
    padding-bottom: 1px;
    margin-bottom: 15px;
    border-bottom: 1px solid #bbb;
}
.footer__subtitle {
    font-size: 18px;
    color: #666666;
    border-bottom: 1px solid #bbb;
}
.footer__subtitle:hover {
    border-bottom: 1px solid transparent;
}

.footer__link:hover {
    border-bottom: 1px solid transparent;
}
.footer__copy {
    padding-top: 75px;
    font-size: 12px;
    color: #666666;
}

/***************--------- Pop-up-form ---------***************/

.hidden {
    display: none;
}
#form_back {
    background-color: #F7F7F7;
    padding: 25px 30px;
    border: #fd5520 5px solid;
    border-radius: 5px;
    max-width: 420px;
    margin: auto;
    position: relative;
}
#form_back label {
    display: block;
    margin-bottom: 15px;
    color: #666;
    font-size: 14px;
}
#form_back input {
    display: block;
    line-height: 40px;
    height: 40px;
    border: #D9D9D9 1px solid;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.06) inset;
    width: 100%;
    text-indent: 10px;
    font-size: 20px;
    margin-top: 3px;
}
#form_back .button_wrap {
    text-align: center;
    margin: 30px 0 10px;
}

#form_back h4 {
    font-size: 18px;
    font-weight: bold;
    color: #fd5520;
    text-align: center;
    font-weight: normal;
}
#form_back p {
    color: #3c3c3c;
    text-align: center;
    padding: 15px 0 20px;
}


